.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.3rem;
}

.navbar-links {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-links li:hover {
  color: #8b59ff;
}

.profile-avatar {
  border-radius: 50%;
}
